<style>
* { padding: 0; margin: 0; 
  border: 1px solid #f00;
}

p {margin:0;padding:0}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	-ms-overflow-style:none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
} 

#opening_screen{
	display: grid;
	grid-template-columns: 65vw 32vw;
	grid-template-rows: 7vh 93vh;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	width: 100vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
}

#ribbon{
	grid-column: 1/3;
	grid-row: 1;
    width: 99vw;
	height: 7vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
	background-color: #004C97;
	line-height: 7vh;
}

#pagetitle {
    float:left; 
    font-size: 20px;
    font-weight: bold;
    height: 7vh;
    margin-top:0ex;
    margin-bottom: 0ex;
    margin-left: 1.5ex;
    color: #FFFFFF;
}

#map_panel{
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 92vh;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
}

#map_top{
	flex-grow: 0;
	text-align: left;
	color: #004C97;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0px; 
	margin-bottom: 0ex;
	display: inline-block;
	white-space: nowrap;
}
#map_title_left{
	font-size: 100%;
    float: left;
    margin: 3 auto;
	max-width: 30%;
	display: inline-block;
    overflow: hidden;
}
#map_title_center{
    font-size: 100%;
	float: left;
    margin: 3 10;
    padding-left: 3ex;
    text-align: center;
	max-width: 20%;
	display: inline-block;
    overflow: hidden;
}
#map_title_right{
	font-size: 100%;
    float: right;
    margin: 3 auto;
	max-width: 40%;
	display: inline-block;
    overflow: hidden;
	
}

#map{
	flex-grow: 1;
	width: 100%;
    height: 100%;
	min-height: 100px;
	min-width: 300px;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
}

#mapbottom{
    width: 100%;
    float: left;
	flex-grow: 0;	
	height: 150px;
	min-height: 75px;
	max-height: 150px;
	margin:0;
    overflow: visible;
}

#legend{
    float: left;
    width: 70%;
    margin: auto;
}
#circleLegend{
    float: left;
    width: 30%;
    height: 125px;
    margin: auto;
    overflow: visible;
}
    
#options_panel{
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 50px 85px;
	height: 93vh;
	width: 100%;
	min-width: 300px;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
	overflow: hidden;
}

#options{
	grid-column: 1;
	grid-row: 1;
	width: 32vw;
	min-width: 300px;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow: hidden;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
}

#vertical_center{
    display: table-cell;
    vertical-align: middle;
}

#table_setting{
    border: 5px;
    width: 100%;
    border-spacing: 15px;
}

#zoomrow{
	display: none;
}

#time_controls{
	grid-column: 1;
	grid-row: 2;
	height: 90px;
	width: 32vw;
	min-width: 300px;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow-y: auto;
	padding-left: 5ex;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
}

#slider{
	grid-column: 1;
	grid-row: 3;
	height: 85px;
	width: 32vw;
	min-width: 300px;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow-y: auto;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
}




#tooltip{	
	background-color: rgba(255,255,196,0.8);
	border: 1px solid #039;
	border-radius: 5px;
	margin-top:3px; 
	margin-bottom: 3px;
}

.menu{
	color: white;
	float: right;
	margin-left: 0.5ex;
	margin-right: 0.5ex;
}

.doc_section_title{
    display: block;
    clear: both;
	padding-bottom: 2em;
	margin-bottom: 2em;
	padding-top: 2em;
	margin-top: 2em;
}

rect {
  fill: none;
  pointer-events: all;
}

.feature {
  
  stroke-linejoin: round;
  opacity: 1;
  stroke-width: 1px;
  cursor: pointer;
}

.feature.active {
	stroke: #3DF;
	stroke-width: 5px;
}

.mesh {
  fill: none;
  stroke: red;
  stroke-width: .3px;
  stroke-linejoin: bevel;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}



/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top:0ex; 
  margin-bottom: 0ex;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {

    border-color: #aaa;
    box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: #222; 
    outline: none;

}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 


#buttons {
    width: 45%;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 11px;
    line-height: 1.4;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

#zoomDown, #zoomUp {
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }
#zoomDown:hover, #zoomUp:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }
#play-button {
      font-family: 'Montserrat';
      font-size: 25px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 5px 0 0 5px;
      padding: 0 0px;
      width: 45px;
      cursor: pointer;
      height: 45px;
    }
#play-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }
#loop-button {
      font-family: 'Montserrat';
      font-size: 20px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#loop-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   
#slower-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#slower-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }

#faster-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#faster-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  font-size: 10px;
  height: 8px;
  width: 8px;
  margin: 20px 2px 0 3px;
  float: left;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, #dot:hover {
  background-color: #004C97;
}

.select-css {
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 90%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

@media all and (max-width: 1024px) and (orientation: landscape) {
    
/*=======================tablet landscape==================*/
    
#map_panel{
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }
    
#time_controls{
    grid-column: 1;
    grid-row: 2;
    width: 300px;
    height: 85px;
    min-width: 0;
    padding-left: 3ex;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 2.5ex; 
	margin-bottom: 0ex;	
    }
    
#legend{
    float: left;
    width: 60%;
    margin: auto;
}
    
#circleLegend{
    float: left;
    width: 40%;
    height: 125px;
    margin: auto;
    overflow: visible;
}
}

@media all and (max-width: 1024px) and (orientation: portrait) {
    
/*=====================Tablet portrait========================*/
    
#opening_screen{
	display: block;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#ribbon{
	grid-column: none;
	grid-row: none;
    width: 99vw;
	height: 7vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
	background-color: #004C97;
	line-height: 7vh;
    }
    
#pagetitle {
    display: block;
    float: left;
    width: 320px;
    height: 7vh;
    font-size: 15px;
    font-weight: bold;
    margin-top:0ex;
    margin-bottom: 0ex;
    margin-left: 1.5ex;
    color: #FFFFFF;
    }
    
#map_panel{
	align-items: center;
	height: 75vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#map_top{
	flex-grow: 0;
	font-size: 100%;
	color: #004C97;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0px; 
	margin-bottom: 0ex;
    }
#map_title_left{
    float: left;
    clear: both;
    }   
#map_title_center{
    float: left;
    clear: both;
    padding-left: 0ex;
    }
#map_title_right{
    float: left;
    clear: both;
    }

#map{
    display: block;
    clear: both;
	flex-grow: 1;
    min-height: 35vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#mapbottom{
    float: left;
    clear: both;
    display: block;
	height: 200px;
    flex-grow: 0;
    width: 100vw;
    min-height: 0px;
    max-height: 500px;
	margin-top: 5ex;
	overflow: visible;
    }
    
#legend{
    float: left;
    width: 55%;
    margin: auto;
}
#circleLegend{
    float: left;
    width: 45%;
    height: 125px;
    margin: auto;
    overflow: visible;
}
    
#options_panel{
    float: left;  
	min-height: 0;
	width: 100%;
    height:16%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 0ex; 
	margin-bottom: 0ex;
	overflow: hidden;
    }   
    
#options{
    float: left;
	width: 100vw;
	min-width: 300px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 0ex; 
	margin-bottom: 0ex;
    } 
    
#theme_brief_description, #data_source_brief_description, #map_type_description {
    display: none;    
    }

#vertical_center{
    display: block;    
    display: table-cell;
    vertical-align: top;
    width: 100vw;
    }   
    
#table_setting{
    display: block; 
    border: 5px;
    width: 100vw;
    border-spacing: 5px;
    border-color: transparent;
    }

#time_controls{
    grid-column: none;
    grid-row: none;
    position: absolute;
    top:7.5%;
    left: 48%;
    width: 300px;
    height: 85px;
    min-width: 0;
    padding-left: 2ex;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
    }

#slider{
    position:absolute;
    top:62%;
    width:100vw;
	height: 85px;
	overflow-y: auto;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
    }
    
.doc_section_title{
    display: block;
    clear: both;
	padding-bottom: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	margin-top: 0em;
}
    
/* The dots/bullets/indicators */
#play-button {
      font-family: 'Montserrat';
      font-size: 25px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 5px 0 0 5px;
      padding: 0 0px;
      width: 45px;
      cursor: pointer;
      height: 45px;
    }
#play-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }
#loop-button {
      font-family: 'Montserrat';
      font-size: 20px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#loop-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   
#slower-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#slower-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }

#faster-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 10px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#faster-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  font-size: 10px;
  height: 8px;
  width: 8px;
  margin: 20px 2px 0 3px;
  float: left;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, #dot:hover {
  background-color: #004C97;
}
    
#below_screen{
    margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	    
    }
}

@media all and (max-width: 926px) and (orientation: landscape) {
    
/*=======================Mobile landscape==================*/
    
#opening_screen{
	display: grid;
	grid-template-columns: 65vw 34vw;
	grid-template-rows: 7vh 93vh;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	width: 100vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#pagetitle {
    display: block;
    float: left;
    width: 60%;
    height: 7vh;
    font-size: 15px;
    font-weight: bold;
    margin-top:0ex;
    margin-bottom: 0ex;
    margin-left: 1.5ex;
    color: #FFFFFF;
    }

#map_panel{
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 95%;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }
    
#map_top{
	flex-grow: 0;
	font-size: 100%;
	text-align: left;
	color: #004C97;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0px; 
	margin-bottom: 0ex;
    }
#map_title_left{
    float: left;
    margin: 3 auto;
    }
#map_title_center{
    float: left;
    margin: 3 10;
    padding-left: 3ex;
    text-align: center;
    }
#map_title_right{
    float: right;
    margin: 3 auto;
    }
    
#mapbottom{
    width: 100%;
    float: left;
	flex-grow: 0;	
	height: 33vh;
	min-height: 75px;
	max-height: 150px;
	margin:0;
    overflow: visible;
    }

#legend{
    float: left;
    width: 55%;
    margin: auto;
}
#circleLegend{
    float: left;
    width: 45%;
    height: 125px;
    margin: auto;
    overflow: visible;
}

#options_panel{
	grid-column: 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 150px 50px auto;
	height: 93vh;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
	overflow: hidden;
    min-width: 0px;
    }

#options{
	grid-column: 1;
	grid-row: 1;
	width: 32.5vw;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow: hidden;
	margin-left: 1ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    min-width: 0px;
    }

#theme_brief_description, #data_source_brief_description, #map_type_description {
    display: none;    
    }
    
#vertical_center{
    display: table-cell;
    vertical-align: middle;
    }

#table_setting{
    border: 5px;
    width: 100%;
    font-size: 10px;
    border-spacing: 3px;
    }

#time_controls{
	grid-column: 1;
	grid-row: 2;
	height: 90px;
	width: 100%;
	min-width: 300px;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow-y: auto;
	padding-left: 2ex;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 0ex; 
    margin-bottom: 0ex;
    }

#slider{
	grid-column: 1;
	grid-row: 3;
	height: 85px;
	width: 100%;
	min-width: 0px;
	vertical-align: middle;
	/*border-left: 2px solid powderblue;*/
	overflow-y: auto;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
    }
    
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
    }
    
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
    }
    
input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
    }

#play-button {
      font-family: 'Montserrat';
      font-size: 25px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 45px;
      cursor: pointer;
      height: 45px;
    }
#play-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }
#loop-button {
      font-family: 'Montserrat';
      font-size: 20px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#loop-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   
#slower-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#slower-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }

#faster-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#faster-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }  

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  font-size: 10px;
  height: 4px;
  width: 4px;
  margin: 20px 2px 0 3px;
  float: left;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
    }

.select-css {
        font-size: 8px;
    } 
}

@media all and (max-width: 450px) and (orientation: portrait) {
    
/*=========================Mobile portrait=====================*/ 
    
#opening_screen{
	display: block;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#ribbon{
	grid-column: none;
	grid-row: none;
    width: 99vw;
	height: 7vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
	background-color: #004C97;
	line-height: 7vh;
    }
    
#pagetitle {
    display: block;
    float: left;
    width: 65%;
    height: 7vh;
    font-size: 10px;
    font-weight: bold;
    margin-top:0ex;
    margin-bottom: 0ex;
    margin-left: 1.5ex;
    color: #FFFFFF;
    }

#about-link{
    display: none;
    }
    
#map_panel{
	align-items: center;
	height: 75vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#map_top{
	flex-grow: 0;
	font-size: 100%;
	color: #004C97;
	width: 100%;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0px; 
	margin-bottom: 0ex;
    }
#map_title_left{
    float: left;
    clear: both;
    }   
#map_title_center{
    float: left;
    clear: both;
    padding-left: 0ex;
    }
#map_title_right{
    float: left;
    clear: both;
    }

#map{
    display: block;
    clear: both;
	flex-grow: 1;
    min-height: 35vh;
	width: 100vw;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;
    }

#mapbottom{
    float: left;
    clear: both;
    display: block;
	height: 61%;
    flex-grow: 0;
    width: 100vw;
    min-height: 0px;
    max-height: 500px;
	margin-top: 5ex;
	overflow: visible;
    }
    
#legend{
    float: left;
    width: 100%;
    clear: both;
    display: block;    
    }
    
#circleLegend{
    float: left;
    width: 100%;
    height: 85px;
    clear: both;
    display: block;
    overflow: visible;
    }
    
#options_panel{
    float: left;  
	width: 100%;
    height: 33vh;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 0ex; 
	margin-bottom: 0ex;
	overflow: hidden;
    }   
    
#options{
    float: left;
	width: 100vw;
	min-width: 300px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top: 0ex; 
	margin-bottom: 0ex;
    }   

#theme_brief_description, #data_source_brief_description, #map_type_description {
    display: none;    
    }
    
#vertical_center{
    display: block;    
    display: table-cell;
    vertical-align: top;
    width: 100vw;
    }   
    
#table_setting{
    margin-top: 2ex;
    border: 5px;
    width: 100%;
    border-spacing: 5px;
    border-color: transparent;
    }

#time_controls{
    grid-column: none;
    grid-row: none;
    position: absolute;
    top:7%;
    left: 50%;
    width: 195px;
    height: 85px;
    min-width: 0;
    padding-left: 2ex;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
    }
    
#slider{
    position:absolute;
    top:50%;
    width:100vw;
	height: 85px;
	overflow-y: auto;
	margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	
    }

#play-button {
      font-family: 'Montserrat';
      font-size: 25px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 45px;
      cursor: pointer;
      height: 45px;
    }
#play-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }
#loop-button {
      font-family: 'Montserrat';
      font-size: 20px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#loop-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   
#slower-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#slower-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }

#faster-button {
      font-family: 'Montserrat';
      font-size: 10px;
      float: left;
      position: relative;
      background: #ECF0F1;
      padding-right: 26px;
      border-radius: 50%;
      color: black;
      margin: 12px 0 0 5px;
      padding: 0 0px;
      width: 35px;
      cursor: pointer;
      height: 35px;
    }

#faster-button:hover {
      background-color: #F4F6F7;
      border-color: #888;
      border-radius: 50%;
      box-shadow: 0 0 1px 2px rgba(59, 153, 252, .7);
    }   

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  font-size: 10px;
  height: 4px;
  width: 4px;
  margin: 20px 2px 0 3px;
  float: left;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
    }
    
#below_screen{
    margin-left: 0ex;
	margin-right: 0ex;
	margin-top:0ex; 
	margin-bottom: 0ex;	    
    }
}
</style>
